{% extends "page-category.html" %}
{% load static %}
{% block titulo_pagina %}Aventura{% endblock %}
{% block titulo_cuerpo %}Aventura{% endblock %}
{% block titulo_bread %}Aventura{% endblock %}
{% block body_class %}aventura{% endblock %}
{% block contenido %}
    <div id="categorias" class="container py-4">
      <div class="row">
        <div class="container">
          <div class="row row-cols-2">
            <div class="card">
              <img
                src="{% static 'img/gta5.jpg' %}"
                class="card-img-top pt-2"
                alt="Grand Theft Auto V"
              />
              <div class="card-body">
                <h5 class="card-title">Grand Theft Auto V</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 14 de abril de 2015
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $19.938 CLP
                </h6>
                <p class="card-text">
                  Cuando un joven estafador callejero, un ladrón de bancos
                  retirado y un psicópata aterrador se ven involucrados con lo
                  peor y más desquiciado del mundo criminal, del gobierno de los
                  EE. UU. y de la industria del espectáculo, tendrán que llevar
                  a cabo una serie de peligrosos golpes para sobrevivir en una
                  ciudad implacable en la que no pueden confiar en nadie. Y
                  mucho menos los unos en los otros.
                </p>
                <p class="card-text">
                  Grand Theft Auto V para PC ofrece a los jugadores la opción de
                  explorar el galardonado mundo de Los Santos y el condado de
                  Blaine con una resolución de 4K y disfrutar del juego a 60
                  fotogramas por segundo.
                </p>
                <p class="card-text">
                  El juego cuenta con múltiples y variadas opciones de
                  personalización específicas para ordenadores, con más de 25
                  ajustes configurables distintos para la calidad de las
                  texturas, shader, teselado, antialiasing y muchos otros
                  elementos, además de opciones de personalización del ratón y
                  el teclado. También es posible modificar la densidad de
                  población para controlar el tráfico de vehículos y peatones, y
                  es compatible con dos y tres monitores, 3D y mandos
                  ""plug-and-play"".
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
            <div class="card">
              <img
                src="{% static 'img/dota2.jpg' %}"
                class="card-img-top pt-2"
                alt="Dota 2"
              />
              <div class="card-body">
                <h5 class="card-title">Dota 2</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 9 de julio de 2013
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $35.231 CLP
                </h6>
                <p class="card-text">
                    Cada día, millones de jugadores de todo el mundo entran en batalla como uno de los más de cien héroes de Dota. Y no importa si es su décima hora de juego o la milésima, siempre hay algo nuevo que descubrir. Con frecuentes actualizaciones que garantizan una evolución constante de jugabilidad, características y héroes, Dota 2 realmente ha cobrado vida propia.
                </p>
                <p class="card-text">
                    Cuando se trata de variedad de héroes, habilidades y poderosos objetos, Dota no tiene límite. No hay dos partidas iguales. Cada héroe puede desempeñar varios roles, y hay multitud de objetos para ayudar a satisfacer las necesidades de cada partida. Dota no pone límites a tu forma de jugar, te da el poder de expresar tu propio estilo.
                </p>
                <p class="card-text">
                    El equilibrio competitivo es la joya de la corona de Dota, y para garantizar que todo el mundo juegue en un campo de batalla equilibrado, el contenido principal del juego —como el vasto grupo de héroes— está disponible para todos los jugadores. Los fans pueden coleccionar objetos cosméticos para los héroes y divertidos complementos para el mundo en que estos habitan, pero todo lo necesario para jugar ya está ahí antes de que te unas a tu primera partida.
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}