{% extends "page-category.html" %}
{% load static %}
{% block titulo_pagina %}Ingenio{% endblock %}
{% block titulo_cuerpo %}Ingenio{% endblock %}
{% block titulo_bread %}Ingenio{% endblock %}
{% block body_class %}ingenio{% endblock %}
{% block contenido %}
    <div id="categorias" class="container py-4">
      <div class="row">
        <div class="container">
          <div class="row row-cols-2">
            <div class="card">
              <img
                src="{% static 'img/eternalthreads.jpg' %}"
                class="card-img-top pt-2"
                alt="Eternal Threads"
              />
              <div class="card-body">
                <h5 class="card-title">Eternal Threads</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 19 de mayo de 2022
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $7.700 CLP
                </h6>
                <p class="card-text">
                  Eternal Threads es un juego de rompecabezas narrativo en
                  primera persona de un jugador sobre manipulación temporal,
                  decisiones y consecuencias.
                </p>
                <p class="card-text">
                  Métete en la piel de un agente enviado al norte de Inglaterra
                  en mayo de 2015 para corregir los daños en el flujo temporal
                  que provocaron el fallecimiento de seis personas en el
                  incendio de una casa. Como no te está permitido apagar el
                  incendio, tendrás que manipular las decisiones que tomaron los
                  habitantes de la casa la semana anterior al desastre para que
                  todos sobrevivan.
                </p>
                <p class="card-text">
                  Explora desde el principio como quieras la línea temporal de
                  los sietes días previos al incendio. Observa y modifica los
                  acontecimientos importantes de la semana tantas veces como
                  quieras y en el orden que prefieras. Algunas decisiones solo
                  tendrán efectos menores en la línea temporal, como objetos que
                  cambian de lugar en la casa o historias y secretos más
                  profundos que salen a la luz. Pero si cambias acontecimientos
                  principales, añades nuevos o si los sustituyes completamente,
                  estarás reescribiendo la línea temporal.
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
            <div class="card">
              <img
                src="{% static 'img/alittletotheleft.jpg' %}"
                class="card-img-top pt-2"
                alt="A Little to the Left"
              />
              <div class="card-body">
                <h5 class="card-title">A Little to the Left</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 8 de noviembre de 2022
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $6.900 CLP
                </h6>
                <p class="card-text">
                  ¡Clasifica, apila y organiza objetos del hogar en su lugar en
                  A Little to the Left, un juego de puzles con un travieso
                  gatito al que le gusta darte un poco de vidilla!
                </p>
                <p class="card-text">
                  ¿En qué dirección deberían apuntar las manecillas del reloj?
                  ¿Cómo ordenar los huevos? ¿¡A quién se le ocurre ponerles
                  tantas pegativas a las frutas?!? Ven a disfrutar de un mundo
                  relajante con un juego de puzles de observación y sorpresas a
                  cada paso. Con preciosas ilustraciones y escenarios
                  sorprendentes, A Little to the Left es un título satisfactorio
                  e interesante con más de 75 puzles geniales para descubrir. ¡Y
                  ojo con el travieso gatito, que tiende a sembrar el caos!
                </p>
                <p class="card-text">
                  Y ahora te presentamos... ¡tu número de El Diario del Orden!
                  Con El Diario del Orden, CADA DÍA recibirás una versión de uno
                  de tus puzles favoritos exclusiva para ti. ¡También ganarás
                  emblemas divertidos por jugar! Ojalá ordenar la casa fuera así
                  de divertido en la vida real.
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}