{% extends "page-category.html" %}
{% load static %}
{% block titulo_pagina %}RPG{% endblock %}
{% block titulo_cuerpo %}RPG{% endblock %}
{% block titulo_bread %}RPG{% endblock %}
{% block body_class %}rpg{% endblock %}
{% block contenido %}
    <div id="categorias" class="container py-4">
      <div class="row">
        <div class="container">
          <div class="row row-cols-2">
            <div class="card">
              <img
                src="{% static 'img/divinityoriginalsin2.jpg' %}"
                class="card-img-top pt-2"
                alt="Divinity: Original Sin 2 - Definitive Edition"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Divinity: Original Sin 2 - Definitive Edition
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 14 de septiembre de 2017
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $39.000 CLP
                </h6>
                <p class="card-text">
                  Divinity: Original Sin 2 - Definitive Edition es un juego de
                  rol de mundo abierto de la nueva generación, cuyo elemento
                  principal es la narrativa, desarrollado en un mundo en
                  expansión con una historia que reacciona a quién eres y a lo
                  que has hecho.
                </p>
                <p class="card-text">
                  Juega en la piel de uno de los seis originales personajes de
                  origen, con sus respectivas misiones propias, o crea un
                  personaje y atribúyele rasgos para definir tu propia aventura.
                </p>
                <p class="card-text">
                  Los dioses han abandonado Rivellon, pero solo una persona de
                  tu grupo tendrá la oportunidad de convertirse en Divino.
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
            <div class="card">
              <img
                src="{% static 'img/eldenring.jpg' %}"
                class="card-img-top pt-2"
                alt="Elden Ring"
              />
              <div class="card-body">
                <h5 class="card-title">Elden Ring</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Fecha de lanzamiento: 24 de febrero de 2022
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Precio: $50.999 CLP
                </h6>
                <p class="card-text">
                  Álzate, Sinluz, y que la gracia te guíe para abrazar el poder
                  del Círculo de Elden y encumbrarte como señor del Círculo en
                  las Tierras Intermedias. Un vasto mundo perfectamente
                  conectado en el que los territorios abiertos estarán repletos
                  de situaciones y mazmorras enormes con diseños complejos y
                  tridimensionales. Mientras exploras, experimentarás el deleite
                  de descubrir amenazas desconocidas y sobrecogedoras, y eso te
                  haré sentir la emoción de la superación.
                </p>
                <p class="card-text">
                  Además de personalizar la apariencia de tu personaje, puedes
                  combinar libremente las armas, armaduras y la magia que te
                  equipas. Puedes desarrollar a tu personaje según tu estilo de
                  juego, tanto para aumentar tu fuerza bruta y ser un guerrero
                  poderoso, como para dominar la magia.
                </p>
                <p class="card-text">
                  Una historia muy profunda contada en fragmentos. Un drama
                  épico en el que las motivaciones de cada personaje se
                  encuentran en las Tierras Intermedias.
                </p>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}